.components__seattype2 {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    &-layout {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-screen {
        text-align: center;
        font-size: 1.5rem;
        margin: 20px;
        color: #ffffff;
    }

    &-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
    }

    &-left, &-right {
        display: flex;
        flex-direction: column;
        align-items: center; /* Để căn giữa các ghế */
        gap: 0.5rem;
    }

    &-row {
        display: flex;
        justify-content: center; /* Canh giữa các hàng ghế */
        align-items: center;
        gap: 5px;

        &-label {
            width: 30px;
            text-align: center;
            color: white;
        }

        &-seats {
            display: flex;
            gap: 5px;
            border-radius: 50%; /* Hiệu ứng uốn cong cho từng hàng */
        }
    }

    &-seat {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; /* Làm ghế có dạng tròn */
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &.available {
            background-color: white;
        }

        &.selected {
            background-color: green;
            color: white;
        }

        &.ordered {
            background-color: red;
        }
    }

    &-info {
        width: 30%;
        background-color: #1e1e1e;
        padding: 20px;
        border-radius: 8px;
        color: white;

        h2, p, ul {
            color: white;
        }

        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                margin-bottom: 10px;
            }
        }

        &-btn {
            background-color: green;
            padding: 10px 20px;
            color: white;
            font-size: 1.2rem;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            width: 100%;
            text-align: center;
        }
    }
}