.pages {
    &__register {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("../../../public/assets/bg/bg_register.svg");
        background-size: cover;
        &-rightside {
            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 150px 20px;
            }
        }

        &-leftside {
            &-logo {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
}
